*.log
*.aux
*.pre
*.dvi
*.synctex.gz
*.fls
*.fdb_latexmk
*.ini
_region_.prv
*.fmt
_region_.tex
*-[0-9].pdf
*-[0-9].tex
*-[0-9].asy
*-[0-9].dvi
*-[0-9]_[0-9].pdf
*-[0-9]_[0-9].tex
*-[0-9]_[0-9].asy
*-[0-9]_[0-9].dvi
auto
